//= partials/header.html
<body>
<div class="socials fixed">
		<a href="#" target="blank" class="social facebook"></a>
		<a href="#" target="blank" class="social twitter"></a>
		<a href="#" target="blank" class="social in"></a>
		<a href="#" target="blank" class="social vimeo"></a>
		<a href="#" target="blank" class="social youtube"></a>
	</div>
	//= partials/screen-1.html
	//= partials/screen-2.html
	//= partials/screen-3.html
	//= partials/screen-4.html
	//= partials/screen-5.html
	//= partials/footer.html