<div class="screen screen-1">
	<div class="header">
		<div class="socials on-top">
			<a href="#" target="blank" class="social facebook"></a>
			<a href="#" target="blank" class="social twitter"></a>
			<a href="#" target="blank" class="social in"></a>
			<a href="#" target="blank" class="social vimeo"></a>
			<a href="#" target="blank" class="social youtube"></a>
		</div>
	</div>
	<div class="container">
		
		<p class="title">Sookbox</p>
		<p class="title">Today, you can control anything and everything from your phone or tablet.</p>
		<p class="title">We pioneered that.</p>
	</div>
</div>