<div class="screen screen-2">
	<div class="container">
		<div class="col-md-5 col-md-offset-1 introbox">
			<div class="title">introducing:</div>
			<p class="text">How do we get devices to communicate with each other? How do we govern our universe of content? How do we transform handhelds into controllers that send chosen media to desired output device? Sookbox answers these questions creating a new paradigm - a universal framework to connect and control media on all devices. Sookbox breaks from tradition in two ways: first to put a cloud in the home, and second to serve content and controls separately.</p>
		</div>
		<div class="col-md-5">
			<div class="row">			
				<img src="img/house.png" alt="">
			</div>
		</div>
	</div>
	<div class="container-fluid screen-2-bg-cont">
		<div class="col-md-6 screen-bg"></div>
	</div>
</div>