<div class="screen screen-5">
	<div class="container">
		<div class="contact-us col-lg-5 col-lg-offset-1">
			<p class="title">Connect with us</p>
			<p class="text">We’re innovating how you interact with everything around you. If you’d like to chat with us more about what we’re currently working on or if you’d like to write about us connect with us below:</p>
			<p class="text"><a href="mailto:info@sookbox.com">info@sookbox.com</a></p>
		</div>
		<div class="form col-lg-5">
			<p class="title">Stay up to date</p>
			<p class="text">Sign up to stay up to date with our groundbreaking technology:</p>
			<form action="">
				<div class="form-group">
					<label for="">Name:</label>
					<input type="text">
				</div>
				<div class="form-group">
					<label for="">Email:</label>
					<input type="email">
				</div>
			</form>
		</div>
		<div class="clearfix"></div>
		<p class="copyright text-center">© Copyright 2013 Sookbox. All Rights Reserved.</p>
	</div>
</div>