<div class="screen screen-2">
	<div class="container main-cont">
		<div class="col-md-5 col-md-offset-1 introbox">
			<div class="title cat-space">introducing:</div>
			<img src="img/sookbox-info.png" alt="">
			<p class="text text-center">How do we get devices to communicate with each other? How do we govern our universe of content? How do we transform handhelds into controllers that send chosen media or actions to desired output devices, and get feedback in return? Sookbox answers these questions by creating a new paradigm - a universal framework to connect and control all devices. Sookbox catalyzes a personal cloud connecting all of a user’s devices in one place, with multidirectional control and feedback. </p>
			<div class="arrow-down scroll-to" data-scroll-to="screen-3"></div>
		</div>
		<div class="col-md-5 house-wrap">
			<div class="row">			
				<img src="img/house.png" class="house" alt="">
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<div class="container-fluid screen-2-bg-cont">
		<div class="col-md-6 screen-bg"></div>
	</div>
</div>