<div class="screen screen-4">
	<div class="container sookbox-info-cont">
		<div class="col-lg-9 col-lg-offset-1 sookbox-info-bg">
		</div>
		<div class="col-lg-5 col-lg-offset-6 sookbox-info-tabs">
			<p class="title">learn more</p>
			<div class="tabs">
				<p class="tab" data-tab="patents">patents</p>
				<p class="tab" data-tab="history">history</p>
				<p class="tab" data-tab="media">media</p>
			</div>
		</div>
		<div class="col-lg-5 col-lg-offset-1 sookbox-info">
			<div class="info-item active" id="patents">patents</div>
			<div class="info-item" id="history">history</div>
			<div class="info-item" id="media">media</div>
		</div>
	</div>
</div>