<div class="screen screen-3">
	<div class="container text-center">
		<div class="col-md-6 col-md-offset-3">
			<p class="category cat-space">patented</p>
			<p class="title">innovation</p>
			<p class="text">Sookbox broke the traditional linear paradigm of one controller connected to one device connected to one output. We separate content from control with a framework that enables users to play any media or apps on multiple outputs, or control any IP-enabled device, using multiple controllers each getting the same or distinct feedback. This is novel. <span class="highlight scroll-to" data-scroll-to="screen-4">Two patents</span> have been awarded, as well as others pending, that cover the broad spectrum of Sookbox innovation.</p>
		</div>
		<div class="clearfix"></div>
	</div>
</div>