<div class="screen screen-3">
	<div class="container text-center">
		<div class="col-lg-6 col-lg-offset-3">
			<p class="category">patented</p>
			<p class="title">innovation</p>
			<p class="text">Sookbox broke the traditional linear paradigm of one controller connected to one device connected to one output with the invention of the Stream Runner. We separate content from control with a framework that enables consumers to play any media or apps on multiple outputs. This is novel. There are <span class="highlight">two patents</span> we were just awarded, as well as several provisional patents for corollary innovations.</p>
		</div>
		<div class="clearfix"></div>
	</div>
</div>