<div class="screen screen-5">
	<div class="container">
		<div class="contact-us col-md-5 col-md-offset-1">
			<p class="title">Connect with us</p>
			<p class="text">We’re innovating how you interact with everything around you. If you’d like to chat with us more about what we’re currently working on or if you’d like to write about us connect with us below:</p>
			<p class="text"><a href="mailto:info@sookbox.com">info@sookbox.com</a></p>
		</div>
		<div class="form col-md-5">
			<p class="title">Stay up to date</p>
			<p class="text">Sign up to stay up to date with our groundbreaking technology:</p>
			<form action="" id="sookbox-form">
				<div class="form-group">
					<label for="">Name:</label>
					<input id="name" type="text">
				</div>
				<div class="form-group">
					<label for="">Email:</label>
					<input id="email" type="email">
				</div>
				<button type="submit" class="button col-md-6 col-md-offset-6 col-xs-6 col-xs-offset-3">Sign Up</button>
			</form>
		</div>
		<div class="clearfix"></div>

		<div class="socials on-top hidden-md hidden-lg">
			<a href="https://www.facebook.com/sookbox" target="blank" class="social facebook"></a>
			<a href="https://twitter.com/TheSookBox" target="blank" class="social twitter"></a>
			<a href="http://www.linkedin.com/company/sookbox-llc" target="blank" class="social in"></a>
			<a href="http://vimeo.com/sookbox" target="blank" class="social vimeo"></a>
			<a href="http://www.youtube.com/user/Sookbox" target="blank" class="social youtube"></a>
		</div>
		<p class="copyright text-center">© Copyright 2013 Sookbox. All Rights Reserved.</p>
	</div>
</div>