<div class="screen screen-4">
	<div class="container sookbox-info-cont">
		<div class="col-md-9 col-md-offset-1 sookbox-info-bg">
		</div>
		<div class="col-md-5 col-md-offset-6 col-sm-12 sookbox-info-tabs">
			<div class="arrow-down scroll-to" data-scroll-to="screen-4"></div>
			<p class="title cat-space">learn more</p>
			<div class="tabs">
				<p class="tab active" data-tab="patents"><span>patents</span></p>
				<p class="tab" data-tab="history"><span>history</span></p>
				<p class="tab" data-tab="media"><span>media</span></p>
			</div>
		</div>
		<div class="col-md-5 col-md-offset-1 sookbox-info">
			<div class="close-mobile" id="close-mobile"></div>
			<div class="info-item active" id="patents">
				<p class="cat-title">Sookbox Patents</p>
				<p class="title">proven innovation</p>
				<p class="text">Sookbox has been issued patents that cover its innovative technology. The disclosure is broad, and includes novel concepts such as multi-directional feedback amongst various devices on a network, control of multiple devices from multiple handheld, and the treatment of connectivity information for discrete and non-discrete controllers. In the real-world, this technology is widely applicable to streaming devices, smart devices, dumb devices made smart, home automation and control, and the comprehensive Internet of Things.</p>
				<a target="blank" href="http://pdfpiw.uspto.gov/.piw?Docid=09503486">US Patent 9,503,486: Configuring, Networking, and Controlling a Plurality of Unique Network-Capable Devices</a>
				<a target="blank" href="http://pdfpiw.uspto.gov/.piw?Docid=09497137">US Patent 9,497,137: Digital Content Connectivity and Control via a Plurality of Controller that are Treated Discriminatively</a>
				<p class="title">PATENT PUBLICATIONS</p>
				<a target="blank" href="http://pdfaiw.uspto.gov/.aiw?PageNum=0&docid=20140195587">Method and System for Providing Digital Content</a>
				<a target="blank" href="http://pdfaiw.uspto.gov/.aiw?PageNum=0&docid=20140331135">Digital Content Connectivity and Control via a Plurality of Controllers that are treated as a Single Controller</a>
			</div>
			<div class="info-item" id="history">
				<p class="cat-title">Sookbox History</p>
				<p class="title">The Father of Connectivity</p>
				<p class="text">From its founding in 2011, Sookbox worked on designing the vessel to deliver its ground breaking technology. The Stream Runner, unveiled at CES 2013, was the predecessor to the streaming devices on the market today. Sookbox software on the user’s handheld communicates with the various Stream Runners in the network to control the delivery of content.</p> 
				<img src="img/sookbox-img.jpg" alt="">
			</div>
			<div class="info-item" id="media">
				<p class="cat-title">Sookbox Media</p>
				<p class="title">VideoS</p>
				<a target="blank" href="https://www.youtube.com/watch?v=X6audE4ymWg">Sneak Peek Into Sookbox's Digital Media Unleashed - Verizon MIT Meet-Up</a>
				<a target="blank" href="https://www.youtube.com/watch?v=fefeQHgz4cg">Sookbox presents at Boston New Technology</a>
				<p class="title">ImageS</p>
				<div class="cranston-cont">	
					<img src="img/cranston.jpg" alt="">
					<div class="cranston-text">
						<p>Bryan Cranston is a big fan of Sookbox! Read the full article <a target="blank" href="http://www.celebuzz.com/photos/miranda-kerr-ryan-phillippe-and-more-beyond-the-velvet-rope/bryan-cranston-with-sookbox/" target="blank">here</a>.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>