// @import 'https://fonts.googleapis.com/css?family=Roboto:300,400,700,900&subset=cyrillic';
@import "vendor/normalize"; // Normalize by default instead reset
@import "vendor/bootstrap.min"; // Normalize by default instead reset
// @import "sprite/sprite"; // sprite icons @extend .icon-.....
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

// Vars 
$main: #ff9900;
$light-text: #ffffff;
$dark-text: #333333;
$grey: #f2f2f2;


%shadow {
	box-shadow: 0px 0px 40px 0px #666;
}
@mixin transition($args: all, $time: 0.3s, $easing: ease-out) {
	-webkit-transition: $args $time $easing;
	-moz-transition: $args $time $easing;
	-ms-transition: $args $time $easing;
	-o-transition: $args $time $easing;
	transition: $args $time $easing;
}
@mixin radius ($rad: 50%) {
	border-radius: $rad;
}
html {
	font-size: 24px;
}
body {
	font-family: 'Open Sans', sans-serif;
}
p {
	margin: 0;
}

.socials {
	.social {
		width: 28px;
		height: 28px;
		@include radius;
		background-repeat: no-repeat;
		background-position: center;
		margin: 0 5px;
		@include transition;
		&.facebook {
			background-color: #235b9e;
			background-image: url('../img/fb.png');
			&:hover {
				background-color: darken(#235b9e, 5%);
			}
		}
		&.twitter {
			background-color: #00abe3;
			background-image: url('../img/twitter.png');
			&:hover {
				background-color: darken(#00abe3, 5%);
			}
		}
		&.in {
			background-color: #0074b5;
			background-image: url('../img/in.png');
			&:hover {
				background-color: darken(#0074b5, 5%);
			}
		}
		&.vimeo {
			background-color: #00b2de;
			background-image: url('../img/vimeo.png');
			&:hover {
				background-color: darken(#00b2de, 5%);
			}
		}
		&.youtube {
			background-color: #ff4d3f;
			background-image: url('../img/youtube.png');
			&:hover {
				background-color: darken(#ff4d3f, 5%);
			}
		}
	}
	&.on-top {
		.social {
			display: inline-block;
		}
	}
	&.fixed {
		position: fixed;
		right: 20px;
		top: 50%;
		z-index: 9;
		.social {
			display: block;
			margin: 5px 0;
		}
	}
}

// screens
@import "vendor/screen-1.scss";
@import "vendor/screen-2.scss";
@import "vendor/screen-3.scss";
@import "vendor/screen-4.scss";
@import "vendor/screen-5.scss";